<!DOCTYPE html>
<html>
<head>
    <title>Champions League | Bracket</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Champions League Bracket</h1>
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/bracket?subpage=group_stage_stats">Group Stage Statistics</a></li>
        <li><a href="/bracket?subpage=group_stage_matches">Group Stage Matches</a></li>
        <li><a href="/bracket?subpage=round_of_16">Round of 16</a></li>
        <li><a href="/bracket?subpage=quarter_finals">Quarter Finals</a></li>
        <li><a href="/bracket?subpage=semi_finals">Semi Finals</a></li>
        <li><a href="/bracket?subpage=finals">Finals</a></li>
    </ul>
</body>
</html>
