<!DOCTYPE html>
<html>
<head>
    <title>Champions League | Finals</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Finals</h1>
    <ul>
        <li><a href="/">Main Page</a></li>
        <li><a href="/bracket">Bracket</a></li>
    </ul>
    <table>
        <thead>
        <tr>
            <th>Home Team</th>
            <th>Score</th>
            <th>Away Team</th>
            <th>Home Team xG</th>
            <th>Away Team xG</th>
            <th>Stadium</th>
        </tr>
        </thead>
        <tbody>
        {% for match in finals_db %}
        <tr>
            <td>{{ match[0] }}</td>  <!-- Home Team -->
            <td>{{ match[1] }}</td>  <!-- Score -->
            <td>{{ match[2] }}</td>  <!-- Away Team -->
            <td>{{ match[3] }}</td>  <!-- Home Game xG-->
            <td>{{ match[4] }}</td>  <!-- Away Game xG-->
            <td>{{ match[5] }}</td>  <!-- Stadium -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>