<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <header>
        <h1>Header Menu</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/player_stats">Player Statistics</a></li>
                <ul>
                    <li><a href="/player_stats?subpage=team_of_yr">Team of the Year</a></li>
                    <li><a href="/player_stats?subpage=top_scorers">Top Scorers</a></li>
                    <li><a href="/player_stats?subpage=top_assisters">Top Assisters</a></li>
                    <li><a href="/player_stats?subpage=most_clean_sheets">Most Clean Sheets</a></li>
                    <li><a href="/player_stats?subpage=player_of_trnmnt">Player of the Tournament</a></li>
                </ul>
                <li><a href="/club_stats">Club Statistics</a></li>
                <li><a href="/bracket">Bracket</a></li>
                <ul>
                    <li><a href="/bracket?subpage=group_stage_stats">Group Stage Statistics</a></li>
                    <li><a href="/bracket?subpage=group_stage_matches">Group Stage Matches</a></li>
                    <li><a href="/bracket?subpage=round_of_16">Round of 16</a></li>
                    <li><a href="/bracket?subpage=quarter_finals">Quarter Finals</a></li>
                    <li><a href="/bracket?subpage=semi_finals">Semi Finals</a></li>
                    <li><a href="/bracket?subpage=finals">Finals</a></li>
                </ul>
            </ul>
        </nav>
    </header>
</body>